@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

/* Custom reset, safely overriding Tailwind */
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}



